.hhhome{
    background-color: white;
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    padding-bottom: 200px;
    padding-left: 200px;
    padding-right: 200px;
    background-color: aqua;
}